@model BeMyNeighbor.Data.Entities.Post
<div class="row justify-content-md-center">
  <div class="col-md-10 justify-content-md-center shadow p-3 mb-5 bg-white rounded">
    <ul id="Posts" class="list-group row m-1">
      <li class="list-group-item">
        <form>
          <div class="PostContext d-flex">
            <img height='60'
                weight='60'
                class="timeline-image rounded-circle"
                src="https://static.intercomassets.com/avatars/1143992/square_128/Tiffany-1491608799.jpg?1491608799">
            <div class="PostText d-flex flex-column ml-3"> 
              <a href="">@Model.User.Username</a>
              <p>@Model.CommentTxt</p>
              @{
                <small>Task Description: @Model.TaskType.TaskDescription</small>
								<small>Date Posted: @Model.DatePosted</small>
                <small>Date Selected: @Model.DateSelected</small>
								<small>Job Done?: @Model.DoneFlag</small>
              } 
            </div>
          </div>
          @if(@Model.DoneFlag == true){
            <button type='submit' class="btn btn-outline-primary float-right">Evaluate Now!</button>          
          }
        </form>
      </li>
    </ul>
  </div>
</div>



