@model BeMyNeighbor.Domain.Models.LocalUser;

<div class="row justify-content-md-center">
  <div class="col-md-8">
    @{
      var stringGreeting = $"Welcome to BeMyNeighbor, {@Model.UserDb.Firstname} {@Model.UserDb.Lastname}!";
      <h4 class="text-center">@stringGreeting</h4>
    }
    <h6 class="text-center">Select a community in @Model.UserDb.Address.City</h6>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-5">

    <form class="d-flex flex-column justify-content-center ml-5" method="Post" action="/main/selectedcommunity">
      @if(@Model.Messages.MessageType == "UnableToFetchCommunities"){
        <div class="alert alert-danger text-center">@Model.Messages.MessageToUser</div>
      }
      @if(@Model.Messages.MessageType == "ErrorUpdatingCommunityOfUser"){
        <div class="alert alert-danger text-center">@Model.Messages.MessageToUser</div>        
      }
      <span class="text-center" style="color: red;" asp-validation-for="@Model.SelectedCommunity"></span>
      <fieldset name="CommunityRadioButtons" class="form-group" required>

        @foreach(var communityObject in @Model.CommunityList){
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" aria-label="Radio button for following text input" value="@communityObject.CommunityId" asp-for="@Model.SelectedCommunity">
              </div>
            </div>
            <label type="text" class="form-control">@communityObject.CommunityName</label>
          </div>
        }

      </fieldset>
      <button type="submit" class="btn btn-outline-primary float-right">Select</button>
    </form>
  </div>
</div>