@model BeMyNeighbor.Domain.Models.LocalUser;

@{
  Layout = "../Shared/_UserMainLayout.cshtml";
}

<div>
  @if(@Model.Messages.MessageType == "UnableToAcceptPost"){
    <div class="row justify-content-md-center">
          <div class="row alert alert-danger justify-content-center col-md-5">@Model.Messages.MessageToUser</div>
    </div>
  }
  @if(@Model.Messages.MessageType == "SuccessfulyEvaluation"){
    <div class="row justify-content-md-center">
        <div class="row alert alert-success justify-content-center col-md-5">@Model.Messages.MessageToUser</div>
    </div>
  }
  @if(@Model.Messages.MessageType == "FailedEvaluation"){
    <div class="row justify-content-md-center">
        <div class="row alert alert-danger justify-content-center col-md-5">@Model.Messages.MessageToUser</div>
    </div>
  }
  <div class="UserMainContent col-lg-12">
    <div class="UserProfile">
        @Html.Partial("../Shared/_UserProfile.cshtml", @Model.UserDb)
    </div>

    <div class="PostFeed">
      @Html.Partial("../Shared/Post/_PostForm.cshtml", @Model.CreatePostViewModel)
      @foreach(var tupleObject in BeMyNeighbor.Domain.Models.DbModels.PostDbManager.FetchPostsByUsersCommunityId()){
        @Html.Partial("../Shared/Post/_PostItem.cshtml", @tupleObject);
      }      
    </div>

    <div class="Map">
      <p>Map</p>
    </div>
  </div>
</div>


