@model BeMyNeighbor.Domain.Models.LocalUser;

@{
  Layout = "../Shared/_UserMainLayout.cshtml";
}

<!-- <div class="row"> -->
  <div class="UserMainContent col-lg-12">
    <div class="UserProfile">
        @Html.Partial("../Shared/_UserProfile.cshtml", @Model.UserDb)
    </div>

    <div class="PostFeed">
      @Html.Partial("../Shared/Post/_PostForm.cshtml", @Model.CreatePostViewModel)
      @for(var i = 0; i < 3; ++i){
        @Html.Partial("../Shared/Post/_PostItem.cshtml", @Model.UserDb)
      }
    </div>

    <div class="Map">
      <p>Map</p>
    </div>


  </div>
<!-- </div> -->


