@model List<BeMyNeighbor.Data.Entities.Post>
@{
  Layout = "../Shared/_UserMainLayout.cshtml";
}
  <div class="UserMainContent col-lg-11">
    <div class="PostHistory col-lg-5">
      <h4 class="ml-4">Post History</h4>
			@foreach (var item in Model){
				@if (@item.UserId != @item.UserSelectedId
				&& @item.UserId == BeMyNeighbor.Domain.Models.CurrentUser.Storage().UserDb.UserId){
						@Html.Partial("_PostedJobs",@item)
				}
			}
    </div>

		<div class="WorkList col-lg-6">
      <h4 class="ml-5">Your WorkList</h4>
			@foreach (var item in Model){
				@if (@item.UserId != BeMyNeighbor.Domain.Models.CurrentUser.Storage().UserDb.UserId){
						@Html.Partial("_AssignedJobs",@item)
				}
			}
    </div>
</div>


